<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="container">
    <h2>ProductApp</h2>
          <div class="d-flex">
              <!-- <button class="btn btn-light ms-2" routerLink="register">Register</button>
              <button class="btn btn-light ms-3" routerLink="login">Login</button> -->
              <!-- <button class="btn btn-light ms-3" routerLink="addproduct">ADD Product</button>-->
              <button class="btn btn-light ms-3"routerLink="/cart/{{Username}}">My Cart</button>
              <button class="btn btn-light ms-3" routerLink="/logout">Logout</button>   
          </div>
  </div>
</nav>

<!-- <div class ="card" *ngFor="let product of products ">
        <h1>{{product.id}}</h1>
        <h1>{{product.name}}</h1>
        <h1>{{product.rating}}</h1>
    </div> -->
<div class="card-layout">
    
    <div class="card" *ngFor="let product of products" style="width: 300px;height: 450px;">
      <div class="img-layout">
        <img  src= {{product.imagePath}} class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h5 class="card-title">{{product.description}}</h5>
          <h5 class="card-title">{{product.price}}</h5>

          <h5 class="card-title"></h5>
          <a href="#" class="btn btn-primary"routerLink="/addtocart/{{Username}}/{{product.id}}" >Add to Cart</a>
          
        </div>
      </div>
</div>


